
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1501826599425') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qianbao:before { content: "\e600"; }

.icon-xiuli:before { content: "\e601"; }

.icon-faxian:before { content: "\e609"; }

.icon-p-shouji:before { content: "\e687"; }

.icon-iconfind:before { content: "\e638"; }

.icon-gouwuche-copy:before { content: "\e602"; }

.icon-xiaoxi:before { content: "\e63e"; }

.icon-daishouhuo:before { content: "\e6c1"; }

.icon-gengduo:before { content: "\e617"; }

.icon-shouye:before { content: "\e608"; }

.icon-daipingjia-copy:before { content: "\e603"; }

.icon-wode:before { content: "\e667"; }

.icon-huangguan-copy:before { content: "\e606"; }

.icon-huidaodingbu:before { content: "\e675"; }

.icon-weibiaoti--:before { content: "\e61e"; }

.icon-hongbao:before { content: "\e607"; }

.icon-dianhuaqia:before { content: "\e77c"; }

.icon-shezhi:before { content: "\e604"; }

.icon-yuan:before { content: "\e670"; }

.icon-video:before { content: "\e66a"; }

.icon-hudong:before { content: "\e64b"; }

.icon-xiaomi:before { content: "\e646"; }

.icon-xin-:before { content: "\e618"; }

.icon-diqiu:before { content: "\e605"; }

.icon-daifukuan1:before { content: "\e60a"; }

.icon-richscan_icon:before { content: "\e60b"; }

